body{
  background: #ece9e9;
}
header{
  text-align: center;
  margin-bottom: 2rem;
}
main{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
section{
  width: 100%;
}
section h2,h3{
  text-align: center;
}
section h4{
  text-decoration: underline;
  margin-bottom: 1rem;
}
.section-commands{
  padding: 1rem;
  background: #000000;
  color: #ffffff;
  border-radius: 1rem;
}
.section-commands.container{
  container-type: inline-size;
}
.section-commands p{
  display: grid;
  grid-template-columns: 7rem auto;
  margin-bottom: 1rem;
  opacity: .95;
}
p.initial{
  display: inline-block;
  /* text-align: center; */
  width: 100%;
  margin-bottom: 0;
}
.command{
  font-weight: 600;
  opacity: .9;
  letter-spacing: 1px;
}
sup{
  display: none;
}
strong{
  display: contents;
}
footer{
  padding: 1rem;
  background: #000000;
  color: #ffffff;
  margin-top: 75px;
}
footer img {
	position: relative;
	top: -85px;
	margin-inline: auto;
	margin-bottom: -85px;
}
footer h4{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

/* Spray Painted X Effect */
.spray-paint-x{
  position: relative;
}
.spray-paint-x::before {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url('purple-s.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -.45rem;
  left: -1.55rem;
}

/* END Spray Painted X Effect */

@container (width >= 822px) {
  p.initial{
    text-align: center;
  }
}
@media(width>=1024px){
  section{
    flex: 1 0 49%;
  }
  sup{
    display: contents;
    opacity: 1;
    color: #ff8811;
  }
}
@media(width>=1500px){
  section{
    flex: 1 0 32%;
    max-width: 33%;
  }
}